-
  var websiteDomain = 'http://www.tplh.net';
  var themeColor = '#111111';

  var metaTitle = 'yoichi kobayashi | www.tplh.net';
  var metaKeywords = 'yoichi kobayashi';
  var metaDescription = 'I am a front-end developer. I wanna be a creative coder.';
  var metaOgpImg = 'ogp.png';

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{metaTitle}
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
    meta(name="description", content=metaDescription)
    meta(name="keywords", content=metaKeywords)
    meta(name="theme-color", content=themeColor)
    //- meta(name="msapplication-TileImage", content="./img/ms_tileimage.png")
    meta(name="msapplication-TileColor", content=themeColor)
    link(rel="shortcut icon" href="./img/icon.ico")
    //- link(rel="apple-touch-icon" href="./img/apple-touch-icon.png")
    link(rel="stylesheet" href="./css/main.css")
    
    meta(property="og:title", content=metaTitle)
    meta(property="og:site_name", content=metaTitle)
    meta(property="og:type", content="website")
    meta(property="og:description", content=metaDescription)
    meta(property="og:url", content=websiteDomain)
    meta(property="og:image", content=websiteDomain + '/img/' + metaOgpImg)
    
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=metaTitle)
    meta(name="twitter:description", content=metaDescription)
    meta(name="twitter:image", content=websiteDomain + '/img/' + metaOgpImg)

  body
    .p-index-page
      .p-index-header
        h1.p-index-header__name
          |Yoichi Kobayashi
        h2.p-index-header__url
          |www.tplh.net

      .p-index-page__in#index-content
        .p-index-content(
          :class = '{ "is-hidden" : isVisibleForm }'
          )
          p.p-index-content__excerpt
            |I am a front-end developer.
            |I wanna be a creative coder.
          .p-index-content__link
            a(href="http://ykob.github.io/sketch-threejs/")
              |Sketch
            a(href="http://codepen.io/ykob/")
              |CodePen
            a(href="https://github.com/ykob")
              |GitHub
            a(href="https://www.facebook.com/ykob1984")
              |Facebook
            a(href="https://twitter.com/ykob0123")
              |Twitter
          .p-index-content__contact
            .p-index-content__contact-wrap
              svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 14 14")
                g
                  path(d="M7 9L5.268 7.484.316 11.73c.18.166.423.27.69.27h11.987c.267 0 .51-.104.688-.27L8.733 7.483 7 9z")
                  path(d="M13.684 2.27c-.18-.167-.422-.27-.69-.27H1.006c-.267 0-.51.104-.69.273L7 8l6.684-5.73zM0 2.878v8.308L4.833 7.08M9.167 7.08L14 11.185v-8.31")
              span.p-index-content__contact-label(
                @click = 'openForm'
                )
                |Contact Me.

        .p-index-mailform(
          :class = '{ "is-visible" : isVisibleForm }'
          )
          form(action="sendmail.php")
            .p-index-mailform__row
              input.p-index-mailform__input(
                type="text", name="yourName", placeholder="name",
                v-model = 'input.name'
                )
              .p-index-mailform__line
            .p-index-mailform__row
              input.p-index-mailform__input(
                type="text", name="yourMail", placeholder="mail address",
                v-model = 'input.mail'
                )
              .p-index-mailform__line
            .p-index-mailform__row
              textarea.p-index-mailform__input.p-index-mailform__textarea(
                name="contents", cols="30", rows="10",
                v-model = 'input.content'
                )
              .p-index-mailform__line
            .p-index-mailform__btn-wrap
              button.p-index-mailform__btn.js-hover(
                type = 'button',
                @click = 'closeForm'
                )
                .p-index-mailform__btn-label
                  |Back
              button.p-index-mailform__btn.js-hover(
                type = 'submit'
                )
                .p-index-mailform__btn-label
                  |Submit

    canvas(id="canvas-webgl", class="p-canvas-webgl")
    script(src="./js/vendor.js")
    script(src="./js/main.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-568033-1', 'auto');
      ga('send', 'pageview');
